.alpackages/Microsoft_Base Application_19.6.38118.0.app
.alpackages/Default publisher_XPandSession1_1.0.0.0.app
.alpackages/Microsoft_Application_19.6.38118.0.app
.alpackages/Microsoft_Base Application_19.6.38118.0.app
.alpackages/Microsoft_System Application_19.6.38118.0.app
.alpackages/Microsoft_System_19.0.38062.0.app
.vscode/launch.json
